<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include partials/head %>
</head>
<body>
  <header>
    <% include partials/header %>
  </header>
  <main>
    <div class="container">

        <!-- CARROUSEL DESCRIPCION DEL SERVICIO -->

        <div class="jumbotron text-center">
            <h1><i class="fa fa-bus" aria-hidden="true"></i> Bienvenido a HaulRadar</h1>

            <a href="/login" class="btn btn-primary"><span class="fa fa-user"></span>  Ingresa</a>
            <a href="/signup" class="btn btn-success"><span class="fa fa-user-plus"></span>  Crea una cuenta</a>
        </div>

        <!-- Nuestros planes-->
        <div class="panel panel-default">
          <ul>
            <li>Paga sólo por las unidades que desees monitorear!</li>
            <li>Monitorea todas tus unidades en tiempo real!</li>
            <li>Consulta el historial de ubicaciones de tus unidades!</li>
            <li>Registrate ahora y consigue un mes gratis!</li>
          </ul>
        </div>

    </div>
  </main>
  <footer>
    <% include partials/footer %>
  </footer>
</body>
</html>
