<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="container">
            <span us-spinner="{radius:30, width:8, length: 16}"></span>

            <div class="panel panel-default">
                <!-- -->
                <div class="panel-heading">Administrar Compañías</div>
                <div class="panel-body">
                    <button type="button" name="btnNuevo" class="btn btn-success" ng-click="mostrarCrearPopup()"><span class="fa fa-plus"></span> Nueva Compañía</button>
                    <hr/>
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    Razón Social
                                </th>
                                <th>
                                    Nombre Comercial
                                </th>
                                <th>
                                    Doc. Identidad
                                </th>
                                <th>
                                    Dirección
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="o in listaOrganizaciones">
                                <td>
                                    {{o.razon_social}}
                                </td>
                                <td>
                                    {{o.nombre_comercial}}
                                </td>
                                <td>
                                    {{u.docId}}
                                </td>
                                <td>
                                    {{o.direccion}}
                                </td>
                                <td>
                                    {{o.estado}}
                                </td>
                                <td>
                                    <button type="button" name="btnEditar" class="btn btn-primary" ng-click="mostrarEditarPopup(u)"><span class="fa fa-pencil-square-o"></span> Editar</button>
                                    <button type="button" name="btnEliminar" class="btn btn-danger" ng-click="mostrarEliminarPopup(u)"><span class="fa fa-times"></span> Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- TEMPLATES-->
            <!-- Crear Usuario-->
            <script type="text/ng-template" id="popupCrearOrganizacion.html">
                <div class="modal-header">
                    <h3 class="modal-title">{{titulo}}</h3>
                </div>
                <div class="modal-body">

                    <div class="panel">
                        <div class="form-group">
                            <label for="txtRazonSocial">Razón Social</label>
                            <input type="text" name="txtRazonSocial" id="txtRazonSocial" class="form-control" ng-model="organizacion.razon_social">
                        </div>
                        <div class="form-group">
                            <label for="txtNombreComercial">E-Mail</label>
                            <input type="text" name="txtNombreComercial" id="txtNombreComercial" class="form-control" ng-model="organizacion.nombre_comercial">
                        </div>
                        <div class="form-group">
                            <label for="txtDocId">Doc. Identidad</label>
                            <input type="text" name="txtDocId" id="txtDocId" class="form-control" ng-model="organizacion.docId">
                        </div>
                        <div class="form-group">
                            <label for="txtDireccion1">Dirección</label>
                            <input type="text" name="txtDireccion1" id="txtDireccion1" class="form-control" ng-model="direccion_0">
                            <input type="text" name="txtDireccion2" id="txtDireccion2" class="form-control" ng-model="direccion_1">
                        </div>

                        <div class="panel panel-default">
                            <div class="panel panel-heading">Contacto Principal</div>
                            <div class="panel panel-body">
                                <div class="form-group">
                                    <label for="txtNombreContacto1">Nombres y Apellidos</label>
                                    <input type="text" name="txtNombreContacto1" id="txtNombreContacto1" class="form-control" ng-model="contacto_nombre_0">
                                </div>
                                <div class="form-group">
                                    <label for="txtDireccionContacto1">Direccion</label>
                                    <input type="text" name="txtDireccionContacto1" id="txtDireccionContacto1" class="form-control" ng-model="contacto_direccion_0">
                                </div>
                                <div class="form-group">
                                    <label for="txtCorreoContacto1">Correo</label>
                                    <input type="text" name="txtCorreoContacto1" id="txtCorreoContacto1" class="form-control" ng-model="contacto_email_0">
                                </div>

                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel panel-heading">Contacto Secundario</div>
                            <div class="panel panel-body">

                                <div class="form-group">
                                    <label for="txtContacto2">Nombres y Apellidos</label>
                                    <input type="text" name="txtContacto2" id="txtContacto2" class="form-control" ng-model="contacto_nombre_1">
                                </div>
                                <div class="form-group">
                                    <label for="txtDireccionContacto2">Direccion</label>
                                    <input type="text" name="txtDireccionContacto2" id="txtDireccionContacto2" class="form-control" ng-model="contacto_direccion_1">
                                </div>
                                <div class="form-group">
                                    <label for="txtDireccionContacto2">Correo</label>
                                    <input type="text" name="txtCorreoContacto2" id="txtCorreoContacto2" class="form-control" ng-model="contacto_email_1">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" name="btnGuardarUsuario" class="btn btn-primary" ng-click="guardar()"><span class="fa fa-floppy-o"></span> Guardar</button>
                    <button type="button" name="btncancelar" class="btn btn-warning" ng-click="cancelar()"><span class="fa fa-times"></span> Cancelar</button>
                </div>
            </script>
            <!-- Eliminar Usuario -->
            <script type="text/ng-template" id="popupEliminar.html">
                <div class="modal-header">
                    <h3 class="modal-title">Desactivar Compañía</h3>
                </div>
                <div class="modal-body">
                    <div class="panel">
                        <h3 class="text-center">¿Realmente desea desactivar la compañía {{organizacion.razon_social}}?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" name="btnGuardarUsuario" class="btn btn-danger" ng-click="eliminar()"><span class="fa fa-times"></span> Eliminar</button>
                    <button type="button" name="btncancelar" class="btn btn-success" ng-click="cancelar()"><span class="fa fa-check"></span> Cancelar</button>
                </div>
            </script>

        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>
