<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Crear Organizacion</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <h4><span class="fa fa-lock"></span> Organizaciones</h4>
  <ul>
        <li>LAP</li>
        <li>Martinez</li>
    </ul>

</div>
</body>
</html>
